<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="map.css">
    <style>
        a{
            color:black;
        }
    </style>
</head>
<body>
    
    <div class="text">
        <h1>Welcome to my Travel Site!</h1>
        <p>Where would you like to go?</p>
        
    </div>      

    <a href="/NorthAmerica"><h3 class="NorthAmerica">North America</h3></a>
    <a href="/SouthAmerica"><h3 class="SouthAmerica">South America</h3></a>
    <a href="/Africa"><h3 class="Africa">Africa</h3></a>
    <a href="/Asia"><h3 class="Asia">Asia</h3></a>
    <a href="/Australia"><h3 class="Australia">Australia</h3></a>
    <a href="/Europe"><h3 class="Europe">Europe</h3></a>
    
    

    

    
   <footer id="grid">
    <form action="/itinerary_form" method="GET">
    <div >
        <button >Get a free itinerary here!</button>
    </div> 
    </form>
    <form action="/index" method="GET">
    <div>
        <a href="index.html"><button >Homepage</button></a>
    </div>
    </form>
    <form action="/Learn" method="GET">
    <div>
        <a href="learn.html"><button >Learn more</button></a>
    </div>
    </form>
   </footer>
</body>
</html>