<h1>Search for a student</h1>
<!--Searched student info: -->
<form method="POST" action="/search">
Student ID:<input type="text" name="std_ID" placeholder="Enter searched student ID">
<button>Search</button>
</form>
