<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         h1, h3{
            text-align: center;
            
            color:black;
        }
    </style>
</head>
<body style="background:radial-gradient(   salmon 30%, white, salmon)">
    <h1>Sad to see you go!</h1><hr><br><br><br><br><br><br>
    <form action="/unsubscribe" method="POST" style="text-align: center;">
        <label for="email"><h2>Please enter your email:</label>
        <input style="width:200px" type="email" name="email" id="email" placeholder="Enter account email here"></h2><br><br>
        <label for="username"><h2>Please enter your username:</label>
        <input style="width:200px"  type="text" name="username" id="username" placeholder="Enter account username here"></h2><br><br>
        <input type="submit" name="" id="" value="Unsubscribe"></p>
    </form>
</body>
</html>